$colors: var(--colors_list);

ul{
    li{
        list-style: none;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        span {
            font-weight: bold;
            color: black;
            position: absolute;
            left: -15px;
            top: -2px;
            cursor: pointer;
        }
    }
    
}

// @each $colorItem in $colors {
//     [data-color=#{$colorItem}] {
//         background-color: #{$colorItem};
//     }
// }
[data-colo] {
    background-color: var(#{--colors_list});
    content: "dsds";
    width: 20px;
    height: 20px;
}
[data-storage] {
    color: blue;
}



